.text-h2 {
  margin: 0 0 0.25em 0;
  padding: 0;
}
.v-treeview--dense .v-treeview-node__root {
  min-height: 24px;
}
.v-treeview-node__label {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 14px;
}
.theme--light.v-expansion-panels,
.theme--light.v-card > .v-card__text {
  color: black;
}
