.rightext {
  line-height: 1.8em;
  padding: 0.5em 0  0.5em 0;
}
.rightext h3,
.rightext h4,
.rightext h5,
.rightext h6 {
  font-weight: normal;
  margin: 0.5em 0 1em 0;
}
.rightext h3 {
  font-size: 180%;
}
.rightext h4 {
  font-size: 150%;
}
.rightext h5 {
  font-size: 125%;
}
.rightext h6 {
  font-size: 110%;
}
.rightext ol,
.rightext ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
