.formatted-text {
  line-height: 1.8em;
  padding: 0.5em 0  0.5em 0;
}
.formatted-text h3,
.formatted-text h4,
.formatted-text h5,
.formatted-text h6 {
  font-weight: normal;
  margin: 0.5em 0 1em 0;
}
.formatted-text h3 {
  font-size: 180%;
}
.formatted-text h4 {
  font-size: 150%;
}
.formatted-text h5 {
  font-size: 125%;
}
.formatted-text h6 {
  font-size: 110%;
}
.formatted-text ol,
.formatted-text ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
