$headings: (
  'h1': (
    'size': 2rem,
    'weight': 400,
    'line-height': 2.5rem
  ),
  'h2': (
    'size': 1.6rem,
    'weight': 400,
    'line-height': 2.0rem
  ),
  'h3': (
    'size': 1.3rem,
    'weight': 400,
    'line-height': 1.6rem
  ),
  'h4': (
    'size': 1.16rem,
    'weight': 400,
    'line-height': 1.5rem
  ),
  'h5': (
    'size': 1.08rem,
    'weight': 400,
    'line-height': 1.4rem
  ),
  'h6': (
    'size': 1.04rem,
    'weight': 400,
    'line-height': 1.3rem
  )
);
$btn-text-transform: none;
$btn-font-weight: 400;
$btn-letter-spacing: 0;
$btn-font-sizes: (
  'x-small': 1rem,
  'small': 1rem,
  'default': 1rem,
  'large': 1rem,
  'x-large': 1rem
);
$treeview-label-font-size: 1rem;
$card-title-font-size: 1.08rem;
$card-text-font-size: 1rem;
