/* You can add global styles to this file, and also import other style files */
@import '~/../@angular/material/prebuilt-themes/deeppurple-amber.css';
/* Menu button */
@media screen and (max-width: 992px) {
  #app-menu {
    position: fixed;
    top: 4px;
    right: 4px;
  }
  h1 {
    padding: 0 36px 8px 0;
  }
}
@media screen and (min-width: 992px) {
  body {
    margin-left: 64px;
    width: 896px;
  }
  #app-menu {
    position: fixed;
    top: 4px;
    left: 960px;
  }
  h1 {
    padding: 0 0 8px 0;
  }
}
